@font-face {
  font-family: 'Mr Dafoe';
  font-style: normal;
  font-weight: 400;
  src: local('Mr Dafoe Regular'), local('MrDafoe-Regular'), url(http://themes.googleusercontent.com/static/fonts/mrdafoe/v2/F1AgEicuA-Vh7KAhE4UhjfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/CcKI4k9un7TZVWzRVT-T8xsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

html, body{
	height:100%;
	width:100%;
	overflow:hidden;
	-webkit-overflow-scrolling: touch;
	
	background-color:white;
	-webkit-transform: translate3d(0, 0, 0); // force hardward accelleration
	-ms-transform: translate3d(0, 0, 0);
	-moz-tranform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.intro{
	background: url(cover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hidden{
	display:none;
}

.nytimes-article{
	position:absolute;
	background-color:white;
	width:337px;
	padding:20px;

	h2{
		font-size:20px;
		margin-bottom:10px;

		a{
			text-decoration:none;
		}
	}

	.nyt-brand{
		float:left;
		margin-right:10px;
	}

	.byline, .date{
		margin-top:2px;
		display:block;
		font-size:11px;
		color:#808080;
	}

	p{
		margin-top:10px;
	}
}

.gnews-article{
	width: 400px;
	background-color:white;
	
	b{
		font-weight:normal;
	}

	a{
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}

	}

	.article-wrapper{
		padding:20px;
	}

	.article-title{
		font-size:20px;
		margin-bottom:10px;
	}

	.article-image{
		float:left;
		margin-right:10px;
		margin-bottom:10px;
	}

	.article-attribution{
		font-size:11px;
		color:#808080;
		margin-bottom:10px;
		a{
			color:#808080;			
		}
	}

	.article-publisher{}

	.article-date{}

	.article-via{}

	.article-body{
		clear:both;
	}
}

.fb-like-box{
	background-color:white;
	iframe{
		background-color:white;
		-webkit-backface-visibility: hidden;
	}	 
}

.gplus-article {
	background-color:white;
	font-family:arial,sans-serif;
	width:400px;
	color:#222;
	border-radius:3px;
	border:1px solid #B8CDF8;

	.article-wrapper{
		padding:15px;
	}

	a{
		text-decoration: none;
		color:#36c;

		&:hover{
			text-decoration: underline;
		}
	}

	.post-attribution{
		margin-bottom:10px;

		.author-image{
			vertical-align: middle;
			margin-right:10px;
		}
		
		.author-name{
			margin-right:7px;
		}

		.post-date{
			color: #aaa;
			font-size:11px;
		}
	}

	.author-comments{

	}

	.article{
		margin:20px 0px;

		.article-image{
			margin-right:10px;
			margin-bottom:10px;
			float:left;
		}
		.article-attribution{
			margin-bottom:10px;
		}

		.article-body{
			font-size:12px;
			color:#444;
		}
	}
}

.loading{
	cursor:wait;
}

.collage{
	-webkit-backface-visibility: hidden;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-2;

	iframe{
		-webkit-transform: translate3d(0, 0, 0); // force hardward accelleration
		-ms-transform: translate3d(0, 0, 0);
		-moz-tranform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	> div {
		z-index: 1;
	}
	> div > * {
		position:absolute;
	}
}

.tweet-area{
	iframe{
		position:absolute;

	}
}

.hide-video-mask{
	iframe{ 
		pointer-events:all;		
	}

	.video-mask{
		display:none;
	}
}

.video-mask{
	position:absolute;
	z-index:2;
	background-color:black;
	opacity:0.00001;
	width:96%;
	height:92%;
	bottom:4%;
	left:2%;
}

.iframe-container{
	-webkit-overflow-scrolling: touch;

	.iframe-overflow-wrapper{ /* WTF APPLE? */
		overflow: hidden;
	}

	&.in-focus{
		.iframe-mask{
			z-index:-1;
			top: -100%;
			left:-100%;
			width:300%;
			height:300%;
		}

		iframe{
			pointer-events:all;		
		}
	}
}

iframe{
	pointer-events:none;
	z-index:1;
	background-color:white;
	-webkit-transform: translate3d(0, 0, 0); // force hardward accelleration
	-ms-transform: translate3d(0, 0, 0);
	-moz-tranform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	&.twitter-tweet{
		pointer-events:all;	
	}
}

.iframe-mask{
	top:0px;
	left:0px;
	position:absolute;
	z-index:2;
	background-color:black;
	opacity:0.0001;
	width:100%;
	height:100%;
	cursor: pointer;

	&.in-focus{
		z-index:-1;
		top: -100%;
		left:-100%;
		width:300%;
		height:300%;
	}
}


.youtube-video{
	position:absolute;
	opacity:0;
	left: -999999px;
	top:999999px;
	iframe{
		pointer-events:all;	
	}
}

img{
	max-width:1500px;
	max-height:1500px;
}

.video-hide{
	position:absolute;
}

#FinaleOverlay{
	background-color:white;
	overflow-y: scroll;
	font-family:Raleway, sans-serif;
	.credits-container{
		margin:0 auto;
		width:900px;
	}

	.attribution{
		label{
		}
		label + div{
			color:#555;

			a{
				color:#555;
				text-decoration:none;

				&:hover{
					text-decoration:underline;
					color:blue;
				}
			}
		}
	}

	iframe{
		pointer-events:all;	
	}

	.title{
		padding-bottom:10px;
	}

	.subtitle{
		font-size:18px;
		text-align:center;
		margin-bottom:30px;
	}

	.left-section{
		width:400px;
		float:left;
	}

	.right-section{
		width:400px;
		float:right;
	}

	.section-title{
		font-size:24px;
		margin-bottom:15px;
	}

	.action{
		margin:15px 0px;
		overflow:hidden;
	}
}

.overlay{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	overflow:hidden;

	.overlay-content{
		margin-top:50px;
		position:relative;
		padding:20px 0px;

		&:before{
			content:"";
			z-index:0;
			background-color:white;
			width:100%;
			height:100%;
			position:absolute;
			top:0px;
			left:0px;
			opacity:0.7;
		}
	}


	.ready{
		cursor:pointer;
		.title{
			cursor:pointer;
		}
	}

	.title{
		z-index:1;
		position:relative;
		font-size:70px;
		text-align:center;
		font-family: 'Mr Dafoe', cursive;
		text-shadow:0px 1px 0px rgb(197, 197, 197);
	}

	p{
		z-index:1;
		position:relative;
		width:400px;
		margin: 13px auto 0 auto;
		font-family: 'Raleway', sans-serif;
		text-shadow: 0px 1px 0px rgb(197, 197, 197);
	}
}

.title{
	z-index:1;
	position:absolute;
	font-size:70px;
	color:black;
	white-space:nowrap;
	padding:20px;
	text-align:center;
	cursor:default;
	font-family: 'Mr Dafoe', cursive;
	//text-shadow:0px 1px 0px rgb(197, 197, 197);
}

.boundingBox{
	position:absolute;
}

.infinite-plane{
	width:100%;
	height:100%;
	transform-origin:50% 50%;
}